html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  margin: auto;
  /*background: #b3d9ff;*/
}

h1 {
  text-align: center;
  font-weight: bold;
}

.search {
  color: #00fde2;
  margin: 5px 10% 20px 10%;
}

.submitbutton {
  margin-bottom: -1em;
  margin-top: 1em;
}

#banner-container {
  height: 100%;
  width: 100%;
  background-color: #021019;
  background-size: cover;
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: -1;
  right: 0;
  top: 0;
}

.banner {
  font-weight: bold;
  text-align: center;
  font-size: 160px;
  color: #00fde2;
}

.eventList {
  color: #00fde2;
}

#app {
  min-height: 100%;
  width: 100%;
  top: 100%;
  background: #021019;
  position: absolute;
  margin: 10px;
}

#map {
  height: 600px;
  width: 80%;
  margin: 15px 10% 0 10%;
}

