html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  margin: auto;
  background: black;
}

h1 {
  text-align: center;
  font-weight: bold;
}

.search {
  color: #00fde2;
  margin: 5px 10% 20px 10%;
}

.submitbutton {
  margin-bottom: -1em;
  margin-top: 1em;
}


#banner-container {
  height: 100%;
  width: 100%;
  background-color: #021019;
  background-size: cover;
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
  z-index: -1;
  right: 0;
  top: 0;
}

article {
  border-size: 1px;
  border-color: white;
}

.banner {
  background: url('../assets/city_bg.jpg');
  background-size: cover;
  font-weight: bold;
  height: 900px;
  text-align: center;
  position: relative;
  color: #00fde2;
  width: 100%;
}
.banner a {
  position: absolute;
  top: 300px;
  width: 160px;
  height: 45px;
  left: 45%;
  font-size: 1.6em;
}
.banner p {
  background-color: #333333;
  border: 1px solid white;
  font-size: 2em;
  opacity: 0.7;
  margin: -100px 300px 0 300px;
  max-width: 100%;
  position: absolute;
  text-align: center;
  top: 250px;
}

.events-header {
  font-size: 48px;
  color: red;
}

.eventList {
  color: #00fde2;
}

#app {
  min-height: 100%;
  width: 100%;
  background: #021019;
  position: absolute;
  margin: 10px;
}

#map {
  height: 800px;
  margin: 15px 0 0 0;
}

